* {
    margin: 0px;
    padding: 0px;
    }
    
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 13px;
    }

a {
    text-decoration: none;
    }

h1 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ff;
    }

h2 {
    font-size: 1.3em;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #002274;
    }

h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    }

p {
    margin-top: 5px;
    margin-bottom: 5px;
    }

td {
    padding: 2px 5px;
    }

/* Rahmen-Definitionen */
div.rahmen {
    width: 1250px;
    margin: 0px 10px;
    }

/* Head */
div.head {
    padding: 0px 0px 15px 10px;
    background-color: #d4d4d4;
    }

/* Menüleiste oben */
div.topnavi {
    height: 25px;
    padding: 0px 0px 0px 10px;
    background-color: #d4d4d4;
    border-bottom: 2px solid #000;
    }

div.topnavi ul {
    float: left;
    list-style-type: none;
    width: 140px;
    }

div.topnavi h3 {
    font-size: 1em;
    margin: 0px;
    }

div.topnavi a {
    display: block;
    }

div.topnavi a:hover {
    background: #bdbdbd; 
    }

div.topnavi li {
    position:relative;
    }

div.topnavi ul ul {
    position: absolute;
    z-index: 2;
    display: none;
    background-color: #d4d4d4;
    }

div.topnavi ul li:hover ul {
    display: block;
    }

/* Inhalt */
div.inhalt {
    padding: 10px 10px 10px 10px;
    }

div.inhalt th.right {
    text-align: right;
    }
    
div.inhalt td {
    text-align: left;
    }

div.inhalt td.right {
    text-align: right;
    }

div.inhalt table {
    width: 800px;
    border-spacing: 0px;
    }
    
div.inhalt table caption {
    font-weight: bold;
    }
    
div.inhalt table tr:nth-child(odd) {
    background-color: #e4ebf2;
    }

div.inhalt table.analysis {
    text-align: left;
    margin-top: 10px;
    }

div.inhalt table.analysis td {
    padding: 0px;
    }
    
div.inhalt table.analysis tr {
    background-color: transparent;
    }
    
div.inhalt table.analysis td.sum {
    border-top: 2px solid #000;
    padding-top: 5px;
    }

div.inhalt table.analysis_year {
    width: auto;
    font-size: 12px;
    }

div.inhalt table.analysis_year td.right {
    text-align: right;
    border-left: 1px dotted black;
    }
    
div.inhalt table.analysis_year th {
    width: 80px;
    }
    
div.inhalt table.analysis_year tr.sum td {
    border-top: 2px solid #000;
    padding-top: 5px;
    }

div.inhalt div.one_analysis {
    margin-bottom: 40px;
    }
